.container {
  background-color: #9bd9a6;
  padding: 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
span {
  font-size: 2rem;
}

.set-time-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}
.set-time-chunk {
  display: flex;
  /* flex-direction: column; */
  gap: 3rem;

  justify-content: center;
  align-items: center;
}

.set-time {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin-bottom: 2.4rem;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  transform: scale(1.2);
  opacity: 0.5;
}

.countdown-title {
  font-size: 3rem;
}
.countdown-timer {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.stop-go-reset {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.stop-go-btn {
  font-size: 2.4rem;
}
